.border
{
    border:2px solid red;
    margin: 3px;
}

.flex
{
    display: flex;
}
.justify-center
{
    justify-content: center;
}
.items-center
{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert
{
    filter: invert(1);
}
.bg-gray
{
    background-color: #121212;
}
.rounded
{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding:10px;
}
.red{
    background-color: red;
}
.rounded1
{
    border-radius: 4px;
}
/* For Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;               /* Scrollbar ki width */
}

::-webkit-scrollbar-track {
  background: #1e1e1e;       /* Track ka background (dark gray) */
}

::-webkit-scrollbar-thumb {
  background-color: #444;    /* Scroll handle */
  border-radius: 10px;       /* Round edges */
  border: 2px solid #1e1e1e; /* Track ke sath thoda gap effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;    /* Hover effect */
}

/* For Firefox */
* {
  scrollbar-width: thin;              /* Thin scrollbar */
  scrollbar-color: #444 #1e1e1e;      /* thumb | track */
}
